// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$slot-bg-1-name: 'slot-bg-1';
$slot-bg-1-x: 640px;
$slot-bg-1-y: 0px;
$slot-bg-1-offset-x: -640px;
$slot-bg-1-offset-y: 0px;
$slot-bg-1-width: 640px;
$slot-bg-1-height: 234px;
$slot-bg-1-total-width: 1280px;
$slot-bg-1-total-height: 834px;
$slot-bg-1-image: '/images/sprites/slot.png';
$slot-bg-1: (640px, 0px, -640px, 0px, 640px, 234px, 1280px, 834px, '/images/sprites/slot.png', 'slot-bg-1', );
$slot-bg-2-name: 'slot-bg-2';
$slot-bg-2-x: 640px;
$slot-bg-2-y: 234px;
$slot-bg-2-offset-x: -640px;
$slot-bg-2-offset-y: -234px;
$slot-bg-2-width: 640px;
$slot-bg-2-height: 152px;
$slot-bg-2-total-width: 1280px;
$slot-bg-2-total-height: 834px;
$slot-bg-2-image: '/images/sprites/slot.png';
$slot-bg-2: (640px, 234px, -640px, -234px, 640px, 152px, 1280px, 834px, '/images/sprites/slot.png', 'slot-bg-2', );
$slot-bg-3-name: 'slot-bg-3';
$slot-bg-3-x: 0px;
$slot-bg-3-y: 418px;
$slot-bg-3-offset-x: 0px;
$slot-bg-3-offset-y: -418px;
$slot-bg-3-width: 640px;
$slot-bg-3-height: 152px;
$slot-bg-3-total-width: 1280px;
$slot-bg-3-total-height: 834px;
$slot-bg-3-image: '/images/sprites/slot.png';
$slot-bg-3: (0px, 418px, 0px, -418px, 640px, 152px, 1280px, 834px, '/images/sprites/slot.png', 'slot-bg-3', );
$slot-btn-gacha-off-name: 'slot-btn-gacha-off';
$slot-btn-gacha-off-x: 0px;
$slot-btn-gacha-off-y: 570px;
$slot-btn-gacha-off-offset-x: 0px;
$slot-btn-gacha-off-offset-y: -570px;
$slot-btn-gacha-off-width: 478px;
$slot-btn-gacha-off-height: 132px;
$slot-btn-gacha-off-total-width: 1280px;
$slot-btn-gacha-off-total-height: 834px;
$slot-btn-gacha-off-image: '/images/sprites/slot.png';
$slot-btn-gacha-off: (0px, 570px, 0px, -570px, 478px, 132px, 1280px, 834px, '/images/sprites/slot.png', 'slot-btn-gacha-off', );
$slot-btn-gacha-on-name: 'slot-btn-gacha-on';
$slot-btn-gacha-on-x: 478px;
$slot-btn-gacha-on-y: 570px;
$slot-btn-gacha-on-offset-x: -478px;
$slot-btn-gacha-on-offset-y: -570px;
$slot-btn-gacha-on-width: 478px;
$slot-btn-gacha-on-height: 132px;
$slot-btn-gacha-on-total-width: 1280px;
$slot-btn-gacha-on-total-height: 834px;
$slot-btn-gacha-on-image: '/images/sprites/slot.png';
$slot-btn-gacha-on: (478px, 570px, -478px, -570px, 478px, 132px, 1280px, 834px, '/images/sprites/slot.png', 'slot-btn-gacha-on', );
$slot-btn-gacha-retry-name: 'slot-btn-gacha-retry';
$slot-btn-gacha-retry-x: 0px;
$slot-btn-gacha-retry-y: 702px;
$slot-btn-gacha-retry-offset-x: 0px;
$slot-btn-gacha-retry-offset-y: -702px;
$slot-btn-gacha-retry-width: 478px;
$slot-btn-gacha-retry-height: 132px;
$slot-btn-gacha-retry-total-width: 1280px;
$slot-btn-gacha-retry-total-height: 834px;
$slot-btn-gacha-retry-image: '/images/sprites/slot.png';
$slot-btn-gacha-retry: (0px, 702px, 0px, -702px, 478px, 132px, 1280px, 834px, '/images/sprites/slot.png', 'slot-btn-gacha-retry', );
$slot-btn-gacha-name: 'slot-btn-gacha';
$slot-btn-gacha-x: 478px;
$slot-btn-gacha-y: 702px;
$slot-btn-gacha-offset-x: -478px;
$slot-btn-gacha-offset-y: -702px;
$slot-btn-gacha-width: 478px;
$slot-btn-gacha-height: 132px;
$slot-btn-gacha-total-width: 1280px;
$slot-btn-gacha-total-height: 834px;
$slot-btn-gacha-image: '/images/sprites/slot.png';
$slot-btn-gacha: (478px, 702px, -478px, -702px, 478px, 132px, 1280px, 834px, '/images/sprites/slot.png', 'slot-btn-gacha', );
$slot-get-name: 'slot-get';
$slot-get-x: 956px;
$slot-get-y: 570px;
$slot-get-offset-x: -956px;
$slot-get-offset-y: -570px;
$slot-get-width: 122px;
$slot-get-height: 78px;
$slot-get-total-width: 1280px;
$slot-get-total-height: 834px;
$slot-get-image: '/images/sprites/slot.png';
$slot-get: (956px, 570px, -956px, -570px, 122px, 78px, 1280px, 834px, '/images/sprites/slot.png', 'slot-get', );
$slot-img-card-name: 'slot-img-card';
$slot-img-card-x: 0px;
$slot-img-card-y: 0px;
$slot-img-card-offset-x: 0px;
$slot-img-card-offset-y: 0px;
$slot-img-card-width: 640px;
$slot-img-card-height: 418px;
$slot-img-card-total-width: 1280px;
$slot-img-card-total-height: 834px;
$slot-img-card-image: '/images/sprites/slot.png';
$slot-img-card: (0px, 0px, 0px, 0px, 640px, 418px, 1280px, 834px, '/images/sprites/slot.png', 'slot-img-card', );
$slot-title-gacha-box-name: 'slot-title-gacha-box';
$slot-title-gacha-box-x: 640px;
$slot-title-gacha-box-y: 418px;
$slot-title-gacha-box-offset-x: -640px;
$slot-title-gacha-box-offset-y: -418px;
$slot-title-gacha-box-width: 640px;
$slot-title-gacha-box-height: 148px;
$slot-title-gacha-box-total-width: 1280px;
$slot-title-gacha-box-total-height: 834px;
$slot-title-gacha-box-image: '/images/sprites/slot.png';
$slot-title-gacha-box: (640px, 418px, -640px, -418px, 640px, 148px, 1280px, 834px, '/images/sprites/slot.png', 'slot-title-gacha-box', );
$spritesheet-width: 1280px;
$spritesheet-height: 834px;
$spritesheet-image: '/images/sprites/slot.png';
$spritesheet-sprites: ($slot-bg-1, $slot-bg-2, $slot-bg-3, $slot-btn-gacha-off, $slot-btn-gacha-on, $slot-btn-gacha-retry, $slot-btn-gacha, $slot-get, $slot-img-card, $slot-title-gacha-box, );
$spritesheet: (1280px, 834px, '/images/sprites/slot.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
