
.mw_wp_form_confirm {

	.checkbox,
	label{
		display: none;
	}

	button {
		margin-bottom: 20px;
	}	
}

.mw_wp_form_confirm .input-field  {
	border-bottom: 1px solid #000000;
	width: 90%;

	.prefix {
		position: relative;
	}
	label {
		display: none;
	}


}








