

@media #{$small-and-down} {
	.main-inner {
		height: 300px

    }	
}

@media #{$medium-and-up} {
	.main-inner {
		height: 400px

    }

}

@media #{$large-and-up} {
	.main-inner {
		//height: 500px
    }

}


//モーダルの調整
.nav-inner {
}

.carousel-item {
	max-width: 30%;
	height: 100px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.link-box {

	&:hover {
		
	}
}


