
#main {
	min-height: 300px;
    overflow: auto;
    //position: relative;
}

@media #{$small-and-down} {
	.main-inner {
		height: 300px

    }	
}

@media #{$medium-and-up} {

	.main-inner {
		height: 400px

    }

}

@media #{$large-and-up} {
	.main-inner {
		//height: 500px
    }

}

#main img {
	width: auto;

}

.link-box {

	&:hover {
		
	}
}


