

*{margin:0;padding:0;}


//ニュース末端のみ適応クラス

#main {
    margin: 0 auto 50px;
    //width: max-content;
    max-width: 900px;

    img {

    }

    h1,h2 {
        margin: 0 0 15px 0;
        padding: 0 0 8px 0;
        font-weight: normal;
        color: #333333;
        text-align: center;
        font-size: 2rem;
        //border-bottom: 4px solid color("red", "darken-4");
        border-bottom: 2px solid #000000;         
    }

    h3 {
         font-size: 1.5rem;
    }

    .date {
        text-align: right;
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 5px;
    }

    strong {
        font-weight: bold;
    }

    
}