

*{margin:0;padding:0;}


//ニュース末端のみ適応クラス

#main {
    margin: 0 auto;

    h1,h2 {
        margin: 0 0 2px 0;
        padding: 0 0 8px 0;
        font-weight: normal;
        color: #333333;
        font-size: 18px;
        //border-bottom: 4px solid color("red", "darken-4");
        border-bottom: 2px solid #000000;         
    }

    #date {
        text-align: right;
    }

    p{
        margin-bottom: 5px;
    }

    strong {
        font-weight: bold;
    }

    
}