.page-title {


}

.page-title--company {

}

.map {
	text-align: center;
}

//ニュースページ固有
.news-wrap {
	padding-top: 10%;
}

.news-list {
	width: 80%;
	margin: 0 auto;

	.news-list-item {
		display: flex;
		justify-content: start;
		align-items: center;
	}

	.news-list-date {
		width: 30%;
		font-weight: bold;

	}	
}

.link-box {
	display: block;
	width: 100%;
	margin: 0 auto;

	.img {
		display: block;
		margin: 0 auto;
	}
}

.list-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;

	.list-item {
		 width: 33.33%;
		 text-align: center;
		 margin-right: 5%;

		 &:last-child {
		 	margin-right: 0;
		 }
	}
}


