.page-title {
}

.page-title--company {

}

.map {
	text-align: center;
}

//ニュースページ固有
.news-wrap {
	padding-top: 10%;
}

.news-list {
	width: 80%;
	margin: 0 auto;

	.news-list-item {
		display: flex;
		justify-content: start;
		align-items: center;
	}

	.news-list-date {
		width: 30%;
		font-weight: bold;

	}	
}

//会社概要
.map {
	margin-bottom: 30px;
}


//line@
.line-at-bg {
	background-color: #efefef;
	position: relative;

	.scroll_bg02 {
		background: url(/img/line/2.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		height: 100%;
		width: auto;
		transform: rotateX(-12deg);
		-webkit-transform: rotate(-12deg);  
	}
}

.line-at-bg2 {
	position: relative;
	background: url(/img/line/3.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 435px;
	width: auto;	

	.scroll_bg3 {

	}

}

.line-cost-table {
	thead {
		td {
			background-color: #E0ECF8;
		}
	}

	tbody {
		th {
			background-color: #f9fbfa;
			
		}
	}



	th,td {
		text-align: center;
	}

}



.sitemap-conteiner {
	//min-height: 500px;
	display: table;
	width: 100%;
	margin:  0 auto;

	.lv1-item {
		line-height: 36px;

	}
	.lv2-item {
		line-height: 20px;
	}

	a {
		display: block;
		position: relative;
		padding-left: 20px;

		&:before {
			display: block;
			content: "・";
			position: absolute;
			left:0px;
			top: 0px;
		}


	}


	.lv1 {
		display: table-cell;
		//width: 50%;
		a {
			font-size: 16px;
		}
		border-top: #444 1px solid;
	    border-bottom: #444 1px solid;

	    //padding: 30px 0;	

		&.home {
			//text-align: center;
			//width: 33%;
			max-width: 300px;
		}

		&.other {
			padding: 30px;
			border-top: #444 1px solid;
			
			//box-sizing: border-box;
			.lv1-item:first-of-type {				
			}

		}
	}

	.lv1-item {
		display: table;
		width: 100%;

		.lv2title {
			display: table-cell;
			width: 33%;
		}

		.lv2 {
			display: table-cell;
			width: 33%;
			a {
				font-size: 13px;
			}			

		}

	}

	.lv2-item {
		line-height: 20px;
	}



}



.link-box {
	color: #999999;
	display: block;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;


	img {
		display: block;
		margin: 0 auto;
		transition: all 0.2s ease-out;
	}

	p,span {
		transition: all 0.2s ease-in-out;
	}

	&:hover,
	&:focus {
		color: #000000;
	}

	&:hover p,
	&:hover span {
		//transform: rotateY(360deg);
		color: #000000;
	}

	&:hover img {
		transform: scale(1.2);
		//filter: grayscale(0%);
	}
}


@media #{$small-and-down} {
	.list-wrapper {

		width: 80%;
		margin: 0 auto;

		.list-item {
			 width: 100%;
			 text-align: center;
			 margin-right: 5%;

			 &:last-child {
			 	margin-right: 0;
			 }

			 img {
			 	width: 30%;
			 	height: auto;
			 }
		}

		.link-box {

		}
	}
}


@media #{$medium-and-up} {
	.list-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;

		.list-item {
			 width: 30%;
			 text-align: center;
			 margin-right: 3%;

			 &:last-child {
			 	margin-right: 0;
			 }			 
		}
	}
}

@media #{$large-and-up} {
	.list-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;

		.list-item {
			 width: 30%;
			 text-align: center;
			 margin-right: 3%;

			 &:last-child {
			 	margin-right: 0;
			 }
		}
	}	
}

//採用情報使用　テーブル
.info-table-lage {
	width: 80%;
	margin: 30px auto;

	tr {
		th {
			background-color: #efefef;
			width: 150px;
			padding: 30px;
			text-align: left;
			border-bottom: 1px solid #999999;
		}

		td {
			border-bottom: 1px solid #999999;
			padding: 30px;
		}
	}

}






