.page-title {
}

.page-title--company {

}

.map {
	text-align: center;
}

//ニュースページ固有
.news-wrap {
	padding-top: 10%;
}

.news-list {
	width: 80%;
	margin: 0 auto;

	.news-list-item {
		display: flex;
		justify-content: start;
		align-items: center;
	}

	.news-list-date {
		width: 30%;
		font-weight: bold;

	}	
}

//会社概要
.map {
	margin-bottom: 30px;
}



.link-box {
	color: #999999;
	display: block;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;


	img {
		display: block;
		margin: 0 auto;
		transition: all 0.2s ease-out;
	}

	p,span {
		transition: all 0.2s ease-in-out;
	}

	&:hover,
	&:focus {
		color: #000000;
	}

	&:hover p,
	&:hover span {
		//transform: rotateY(360deg);
		color: #000000;
	}

	&:hover img {
		transform: scale(1.2);
		//filter: grayscale(0%);
	}
}


@media #{$small-and-down} {
	.list-wrapper {

		width: 80%;
		margin: 0 auto;

		.list-item {
			 width: 100%;
			 text-align: center;
			 margin-right: 5%;

			 &:last-child {
			 	margin-right: 0;
			 }

			 img {
			 	width: 30%;
			 	height: auto;
			 }
		}

		.link-box {

		}
	}
}


@media #{$medium-and-up} {
	.list-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;

		.list-item {
			 width: 30%;
			 text-align: center;
			 margin-right: 3%;

			 &:last-child {
			 	margin-right: 0;
			 }			 
		}
	}
}

@media #{$large-and-up} {
	.list-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;

		.list-item {
			 width: 30%;
			 text-align: center;
			 margin-right: 3%;

			 &:last-child {
			 	margin-right: 0;
			 }
		}
	}	
}

//採用情報使用　テーブル
.info-table-lage {
	width: 80%;
	margin: 30px auto;

	tr {
		th {
			background-color: #efefef;
			width: 150px;
			padding: 30px;
			text-align: left;
			border-bottom: 1px solid #999999;
		}

		td {
			border-bottom: 1px solid #999999;
			padding: 30px;
		}
	}

}






