body {
	position: relative;

	.bg-reration {
		background-color: #f7f7f7;
	}

	section{
		margin-bottom: 50px;
	}

	//フェードインさせる
	.effect {
		h2,h3 {
			transition: .8s;
		}
		div {
			transition: .8s;
			transition-delay: .8s;
		}
	}

	header {
		width: 100%;
		position: fixed;
		z-index: 3;
	} 
	
	.container--flat {
		padding: 40px 0;
	}

	//
	.container--list__item {
		position: relative;
		overflow: hidden;
	}

	.page-footer {

	}	
}







