.page-title {


}

.page-title--company {

}

.map {
	text-align: center;
}

.link-box {
	display: block;
	width: 100%;
	margin: 0 auto;

	.img {
		display: block;
		margin: 0 auto;
	}
}

.list-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;

	.list-item {
		 width: 33.33%;
		 text-align: center;
		 margin-right: 5%;

		 &:last-child {
		 	margin-right: 0;
		 }
	}
}


