@charset "UTF-8";

//テキストカラー
$color: #f6f5e8;

//背景画像用
@mixin bg-img-size($width_size, $height_size){
	width:$width_size;
	height:$height_size;
	background-size: $width_size $height_size;
}

// テキスト隠し
@mixin hide-text {
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
}

//角丸用
// @mixin radius($value) {
// 	-webkit-border-radius: $value;
// 	border-radius: $value;
// }

//一番外の大枠
#container {
	font-size:16px;
	line-height:1.2em;
	color:$color;
}

// 使いまわしするもの
.t-center {
	text-align:center;
}

.t-right{
	text-align:right;
}

.font24{
	font-size:24px;
}

.font20{
	font-size:20px;
}

.font18{
	font-size:18px;
}

.font14{
	font-size:14px;
}

.font12{
	font-size:12px;
}

.font10{
	font-size:10px;
}

.red {
	color:#ff0000;
}

.gold {
	color:#ffe612;
}

.box {
	display: -webkit-box;
	display: flex;
}

.box-center {
	-webkit-box-pack:center;
	justify-content: center;
}

.flex {
	-webkit-box-flex: 1;
	flex: 1;
}

.relative {
	position:relative;
}

.dotline-bottom {
	border-bottom: #999 dotted 1px;
}

.gray-text {
	color:#808080;
}

.m-auto {
	margin:0 auto;
}

.line-height18 {
	line-height: 18px;
}

.mt5 { margin-top:5px; }
.mt10 { margin-top:10px;}
.mt15 { margin-top:15px;}
.mt25 { margin-top:25px;}
.mt50 { margin-top:50px;}
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml45 { margin-left:45px; }
.mr5 { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr20 { margin-right:20px; }
.mr25 { margin-right:25px; }
.pt5 { padding-top:5px; }
.pt15 { padding-top:15px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pl10 { padding-left:10px; }
.pr10 { padding-right:10px; }
.pl15 { padding-left:15px; }
.pr15 { padding-right:15px; }


//ブリンク用アニメーション
.blink {
	@include anim-blink;
}

//リンク用グレーボタン
.event-gray-btn{
	display:inline-block;
	border:#666666 solid 1px;
	background-color:#222222;
	padding:10px;
	text-decoration:none;
	background-repeat:no-repeat;
	border-radius: 10px;
}

.event-gray-btn.go{
	background-image:url(/i/kaito/smart/common/icon_tri_grey_go.png);
	background-position:92% 50%;
	padding-right:25px;
	color:#cccccc;
}

// jsタブメニュ コンテンツ
.mbgaui-tab-body {
	display:none;
}
.mbgaui-tab-body.current {
	display:block;
}

