@charset "utf-8";

// 7th anniversary landing page
.anniversary_7th {
  width: 100%;
  height: 1880px;
  margin: 0;
  padding: 0;
  background: transparent url('/smart/kaito/event/2009/campaign_list/logo-bg.png') no-repeat;
  background-size: 320px auto;
  color: white;
  background-position-y: -18px;

  &__logo {
    height: 570px;
    text-align: center;

    &__banner_curtain {
      width: 320px;
      height: auto;
    }

    &__icon_scroll {
      width: 31px;
      height: auto;
      margin: 10px auto;
      opacity: 0;
    }
  }

  &__avatar {
    position: relative;
    top: -150px;
    height: 0px;
    background-color: transparent;
    z-index: 3;

    &:first-child {
      top: 0;
      height: 174px;
    }

    &__bg-1,
    &__bg-2,
    &__bg-3 {
      position: absolute;
      width: 320px;
      height: calc(630px / 2);
      background-size: 320px auto;
      z-index: 2;
    }

    &__bg-1 {
      background: transparent linear-gradient(156deg, #000 0%, #000 290px, transparent 291px) no-repeat;
    }

    &__bg-2 {
      background: url('/smart/kaito/event/2009/campaign_list/avatar-bg-2.png') no-repeat;
      background-size: 320px auto;
    }

    &__bg-3 {
      background: url('/smart/kaito/event/2009/campaign_list/avatar-bg-3.png') no-repeat;
      background-size: 320px auto;
    }

    &__avatar-1,
    &__avatar-2,
    &__avatar-3 {
      position: absolute;
      width: 320px;
      background-repeat: no-repeat;
      background-size: 320px auto;
      opacity: 0;
      z-index: 3;
    }

    &__avatar-1 {
      top: 0;
      height: 315px;
      background-image: url('/smart/kaito/event/2009/campaign_list/kaito-avatar-1.png');
    }

    &__avatar-2 {
      height: calc(596px / 2);
      background-image: url('/smart/kaito/event/2009/campaign_list/kaito-avatar-2.png');
    }

    &__avatar-3 {
      height: calc(596px / 2);
      background-image: url('/smart/kaito/event/2009/campaign_list/kaito-avatar-3.png');
    }
  }

  &__message {
    position: relative;
    height: 445px;
    padding: 180px 45px;
    background: transparent url('/smart/kaito/event/2009/campaign_list/message-bg.png') repeat-y 0 -51px;
    background-size: 320px auto;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    text-shadow: 0 0 1px #ddd, 0 0 2px #ddd, 0 0 3px #ddd;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
    word-break: break-all;

    &__text {
      max-height: 100%;
      overflow: hidden;
    }

    &__btn {
      display: block;
      width: 70%;
      margin: 20px auto 0;
      border: 1px solid #fff;
      border-radius: 4px;
      background-color: rgba(#000000, 0.3);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 11px auto;
      color: #ffffff;
      font-weight: bold;
      line-height: 35px;
    }
  }

  &__campaign {
    position: relative;
    height: 524px;
    background: url('/smart/kaito/event/2009/campaign_list/campaign-bg.png') no-repeat, linear-gradient(45deg, rgb(102, 51, 153) 0%, rgb(0, 153, 153) 50%, rgb(0, 128, 102) 74%, rgb(0, 102, 51) 100%) no-repeat;
    background-position: 2px 10px, 0 0;
    background-size: 13px auto, auto;
    overflow: hidden;

    &__bg_1,
    &__bg_2,
    &__bg_3 {
      position: absolute;
      top: 0;
      width: 320px;
      height: 524px * 10;
      background-repeat: repeat-y;
      background-size: 320px auto;
    }

    &__bg_1 {
      background-image: url('/smart/kaito/event/2009/campaign_list/campaign-decoration-bg-big.png');
    }

    &__bg_2 {
      background-image: url('/smart/kaito/event/2009/campaign_list/campaign-decoration-bg-middle.png');
    }

    &__bg_3 {
      background-image: url('/smart/kaito/event/2009/campaign_list/campaign-decoration-bg-small.png');
    }

    &__list {
      display: flex;
      position: absolute;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 524px;
      padding: 120px 0px 150px 15px;
      list-style: none;
      box-sizing: border-box;

      li {
        text-align: center;
      }
    }

    &__date {
      text-align: left;
    }

    &__banner {
      position: relative;
      width: 288px;
      border: 0;
      z-index: 5;

      img {
        width: 288px;
        height: auto;
      }

      &.is-disabled {
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 54px;
          margin: 0;
          padding: 0;
          background-color: rgba(0, 0, 0, 0.7);
          color: #ddd;
          line-height: 56px;
          text-align: center;
          content: "coming soon";
        }

        &.is-rose:after {
          content: "10/10投票開始!! coming soon";
        }
      }

      &.is-closed {
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 54px;
          margin: 0;
          padding: 0;
          background-color: rgba(0, 0, 0, 0.7);
          color: #ddd;
          line-height: 56px;
          text-align: center;
          content: "終了しました。";
        }
      }      
    }
  }

  &__footer_nav {
    position: relative;
    margin-top: 60px;
    text-align: right;
    z-index: 3;

    figure img {
      width: 40px;
    }
  }
}

// modal (7th anniversary landing page)
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  overflow-y: auto;

  .modal-inner {
    top: 4px;
    left: 4px;
    width: 310px;
    //height: 520px;
    height: 710px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  p {
    width: 290px;
    height: 660px;
    box-sizing: border-box;
    //height: 430px;
    margin: 15px auto 0;
    padding: 30px 15px 20px;
    background-image: url('/smart/kaito/event/2009/campaign_list/modal/letter.png');
    background-repeat: no-repeat;
    background-size: 290px 650px;
    color: #000;
    font-size: 0.71rem;
    line-height: 1.4;
    //overflow-y: auto;
  }

  .btn-modal-close-1 {
    position: absolute;
    top: 0px;
    right: 2px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #000;
    background-image: url('/smart/kaito/event/2009/campaign_list/modal/icon-close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px auto;
  }

  .btn-modal-close-2 {
    display: block;
    width: 85px;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #000;
    background-image: url('/smart/kaito/event/2009/campaign_list/modal/label-close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px auto;
  }
}

// modal-bg (7th anniversary landing page)
#modal-bg {
  // display: none;
  // position: fixed;
  // top: 4px;
  // left: 4px;
  // width: 310px;
  // //height: 520px;
  // height: 100%;
  // border: 1px solid #fff;
  // border-radius: 4px;
  // background-color: rgba(0, 0, 0, 0.5);
  // z-index: 101;
}

pre {
  word-break: break-all;
}

