//共通パーツ


.regular-3004 {
	background-image: url("/images/2009/bg.jpg");
	background-size: 320px auto;
	padding-bottom: 1px;

	a {
		text-decoration: none;
	}

	//グレーのもっと見るボタンとか
	%btn-style {
		border-radius: 6px;

		display: block;
		border: solid 1px #9d7d19;
		background-image: linear-gradient(#555454 0%, #484848 50%, #3f3f3f 51%, #5c5b5b 100%);
		color: #ffffff;
		text-align: center;
		text-decoration: none;
		box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.7);

		&.mbgaui-active {
			background-color: #5c5b5b;
			color: #626262;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1) inset;
		}
	}

	// 共通パーツ
	.header {
		margin-bottom: 5px;

		.header-img {
			background-image: url("/images/2009/intro_1.jpg");
			background-size: 320px auto;

			position: relative;
			width: 320px;
			height: 139px;
		}

		//開催期間
		.period {
			
			text-shadow:#000 0 0 4px, #000 0 0 2px, #000 0 0 2px;
			display: block;
			width: 320px;
			padding: 5px 0;
			background-image: linear-gradient(to bottom, #211f1e, #211f1e, #0a0907, #222121);
			color: #ffde00;
			font-size: 12px;
			font-weight: bold;
			line-height: 15px;
			text-align: center;
		}
	}

	.title-big {
		@include sprite($test_2009-title_big);
		line-height: 25px;
		text-align: center;
	}
	
	.main-btn {
		@extend %btn-style;
		line-height: 40px;
		width: 80%;
		margin: 0 auto;
	}

	.title-small {
		@include sprite($test_2009-title_small);
		margin: 0 auto;
		line-height: 25px;
		text-align: center;
	}

	.link-slot__num {
		color: #ffffff;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
	}

	.img-medal {
		@include sprite($test_2009-medal);
	}

	//新
	.quest-list-area {
		margin: 10px 0;
	}

	.quest-list {
		position: relative;
		text-shadow: 1px 1px 1px #000;
		box-sizing: border-box;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: space-between;
		width: 96%;
		height: 48px;
		margin: 0 auto 10px;
		padding: 0 5px 0 5px;
		border-radius: 6px;
		font-size: 11px;
		font-weight: bold;		
	}

	.quest-list--progress {
		background-image: linear-gradient(to top, rgba(#776215, 1) 40%, rgba(#dec535, 1) 100%);
		box-shadow: 0px 0px 1px 0px #ffff61 inset;
	}

	.quest-list--Clear {
		background-image: linear-gradient(to top, rgba(#7aa3cc, 1) 40%, rgba(#d7ebff, 1) 100%);
		box-shadow: 0px 0px 1px 0px #ffffff inset;
	}

	.quest-list--complete {
		background-image: linear-gradient(to top, rgba(#444444, 1) 40%, rgba(#6a6a6a, 1) 100%);
		color: #999999;
		box-shadow: 0px 0px 1px 0px #8d8d8d inset;
	}

	.quest-label {
		text-shadow: #000 1px 1px 1px;
		display: block;
		position: absolute;
		top: -5px;
		left: -5px;
		//width: 50px;
		padding: 0 10px;
		border-radius: 6px;
		font-size: 11px;
		line-height: 14px;
		text-align: center;
	}

	.quest-label--daily {
		@include sprite($test_2009-label_daily);
	}
	.quest-label--daily-off {
		@include sprite($test_2009-label_daily_off);
	}	

	.quest-label--extra {
		@include sprite($test_2009-label_extra);
	}

	.quest-label--daily-off {
		@include sprite($test_2009-label_extra_off);
	}

	.quest-list__info {
		flex: 1;
	}

	.quest-list__title {
		text-align: center;
		width: 150px;
		
	}

	.quest-list__prize {
		@include sprite($test_2009-reward-img);
		position: relative;
	}
	.get-prize-num {
		position: absolute;
		bottom: 0px;
		left: 10px;
	}

	.list-inner {
		color: #ffffff;
		display: flex;
		position: relative;
		align-items: center;		
		
		&:after {

			@include sprite($test_2009-arrow);
			//@include hide-text;

			display: block;
			position: absolute;
			top: 32%;
			right: 0px;
			content: "";
		}
	}

	.quest-list__guage {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.guage {
		width: 150px;
		height: 10px;
		border-radius: 10px;
		border: 2px solid #fff;
		position: relative;
		background-color: #000000;
		border: 1px solid #e1ca38;
	}

	.guage-inner {
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		border-radius: 10px;
		box-shadow: 0 0 1px 1px #000 inset;
		background-image: linear-gradient(to bottom, rgba(#ff3c3c, 1) 51%, rgba(#df1c1c, 1) 80%, rgba(#ff3c3c, 1) 100%);
	}
}


//イベントの注意文的なものは全部これの中に
.event-notice-container {
	border-radius: 8px;
	margin: 10px 10px 10px;
	padding: 10px;
	background-color: rgba(34, 34, 34, .8);
	font-size: 10px;
	line-height: 1.5;
}

// 明滅
@keyframes luster {
	0% {
		box-shadow: 0 0 4px 4px rgba(#fff000,0);
	}

	50% {
		box-shadow: 0 0 4px 4px rgba(#fff000,0.5);
	}

	100% {
		box-shadow: 0 0 4px 4px rgba(#fff000,0);
	}
}

.luster {
	animation-name: luster;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: initial;
	animation-iteration-count: infinite;
	animation-direction: initial;
	animation-fill-mode: initial;
	animation-iteration-count: infinite;
	border-radius: 8px;
}
