.event-2009 {
	//ここからヘルプ用のスタイル
	&.help {
		padding: 10px 0;

		.category-title {
			position: relative;
			margin-bottom: -5px;
			z-index: 1;
		}

		.help-link-list {
			@include background-image(linear-gradient(#1f1f1f, #2c2c2c 50%, #1f1f1f));
			@include border-radius(6px);

			position: relative;
			width: 90%;
			margin: 0px auto 10px;
			border: solid 1px #7c7c7c;
			text-shadow: 1px 1px 1px #000000;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);

			li {
				border-bottom: solid 2px #1b1b1b;

				&:last-child {
					border-bottom: 0;
				}

				a {
					display: block;
					position: relative;
					padding: 0 10px;
					color: #ffffff;
					line-height: 50px;
					text-decoration: none;

					&:after {
						@include background(image-url('/smart/kaito/common/sprite/sprite_common.png'));
						@include position(absolute, $top: 50%, $right: 8px);

						display: block;
						width: 7px;
						height: 12px;
						margin-top: -6px;
						background-position: -260px -194px;
						background-size: 320px auto;
						content: "";
					}

					&.mbgaui-active {
						background-color: #1f1f1f;
						color: #626262;
						box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1) inset;
					}
				}
			}
		}
	}//index-befor-mach//partner-list//index//prize//ヘルプ用のスタイル
}