.event-2009 {
  &.index {
    .partner-info-wrap {
      //@include sprite($top-deco-team-container-r);
      //@include background(image-url('event/2009/bg_map.png'));
      //@include background-size(294px auto);


      position: relative;
      width: 294px;
      height: auto;
      margin: 0 auto 20px;
      padding: 20px 0 0;
      background-repeat: no-repeat;

      .aba-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;

        .icon-gun {
          //@include sprite-base-bg($sprite, $sprite-img, $sprites-ratio);
          //@include sprite-bg($sprite, 'img_gun', $sprites-ratio);
        }

        .info-area {
          width: 80px;
          text-align: center;

          a {
            display: block;

            img {
              display: block;
              margin: 0 auto;
              padding: 3px;
              border-radius: 6px;
            }
          }

          .name {
            display: block;
            margin-top: -10px;
            color: #000;
            font-size: 12px;
            font-weight: bold;
          }

          .user-point {
            border-radius: 6px;
            background-color: #212121;
            font-size: 12px;
            line-height: 30px;
            text-align: center;
          }
        }

        .my-info {
          img {
            background-color: #ff0000;
          }

          .name {
            //@include text-shadow(#ff0000 0 0 4px, #ff0000 0 0 2px, #ff0000 0 0 2px);
          }

          .user-point {
            border: 1px solid #ff0000;
            color: #ff0000;
          }
        }

        .partner-info {
          width: 80px;
          text-align: center;

          a {
            display: block;

            img {
              background-color: #0033ff;
            }
          }

          .name {
            //@include text-shadow(#0033ff 0 0 4px, #0033ff 0 0 2px, #0033ff 0 0 2px);
          }

          .user-point {
            border: 1px solid #0033ff;
            color: #0033ff;
          }
        }
      }
    }

    .totale-point-container {
      margin: 5px 0px;

      .totale-point {
        position: relative;
        width: 100px;
        margin: 0 auto;
        border: 1px solid #fff000;
        border-radius: 6px;
        background-color: #212121;
        color: #fff000;
        font-size: 12px;
        line-height: 30px;
        text-align: center;

        &:after {
          //@include sprite-base-bg($sprite, $sprite-img, $sprites-ratio);
          //@include sprite-bg($sprite, 'arrow_right', $sprites-ratio);

          display: block;
          position: absolute;
          top: -3px;
          right: -50px;
          content: "";
        }

        &:before {
          //@include sprite-base-bg($sprite, $sprite-img, $sprites-ratio);
          //@include sprite-bg($sprite, 'arrow_left', $sprites-ratio);

          display: block;
          position: absolute;
          top: -3px;
          left: -50px;
          content: "";
        }
      }
    }

    .clear-message {
      width: 90%;
      margin: 0 auto;
      padding: 5px 5px;
      border: 1px solid #fff000;
      border-radius: 6px;
      background-color: #212121;
      color: #fff000;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
    }

    .new-quest-info {
      //@include sprite-base-bg($sprite, $sprite-img, $sprites-ratio);
      //@include sprite-bg($sprite, 'bg_info', $sprites-ratio);
      //@include box-sizing(border-box);

      position: relative;
      margin: 0 auto;
      padding-top: 30px;
      font-weight: bold;

      p {
        width: 80%;
        margin: 0 auto;
        background-image: linear-gradient(to right, rgba(#431010, 0) 0%, rgba(#431010, 1) 20%, rgba(#431010, 1) 80%, rgba(#431010, 0) 100%);
        font-size: 12px;
        line-height: 16px;
        text-align: center;
      }
    }

    .btn-prize {
      @extend %static-btn-style;

      width: 100px;
      margin: 5px 10px 0 auto;
      line-height: 20px;
    }

    .btn-more {
      @extend %static-btn-style;

      width: 100px;
      margin: 10px 10px 10px auto;
      line-height: 35px;
    }//aba-container
  }
}